
@import "../../styles/constants.scss";

#splash-screen{
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  display: block;
  z-index: 10;
  background: $white;

  loader{
    width: 100px;
    margin: 5em auto;
    display: block;
  }

  h4{
    text-align: center;
    color: $primary-dark;
    margin-top: 10%;
  }

  h2{
    text-align: center;
    color: $primary-dark;
    font-size: $font-giant;
  }

  span.status-message{
    text-align: center;
    display: block;
  }

  div.error-occurred{
    display: block;
    text-align: center;
    button{ margin: 0 auto; }
  }
}

@include tablet-portrait-and-below{

  #splash-screen {
    h2, h4{ color: $black; }
  }

  #splash-screen {
    background: rgba(255,179,0,1);
    background: -moz-linear-gradient(-45deg, rgba(255,179,0,1) 0%, rgba(255,214,64,1) 22%, rgba(255,214,64,1) 80%, rgba(255,252,152,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(255,179,0,1)), color-stop(22%, rgba(255,214,64,1)), color-stop(80%, rgba(255,214,64,1)), color-stop(100%, rgba(255,252,152,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,179,0,1) 0%, rgba(255,214,64,1) 22%, rgba(255,214,64,1) 80%, rgba(255,252,152,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,179,0,1) 0%, rgba(255,214,64,1) 22%, rgba(255,214,64,1) 80%, rgba(255,252,152,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,179,0,1) 0%, rgba(255,214,64,1) 22%, rgba(255,214,64,1) 80%, rgba(255,252,152,1) 100%);
    background: linear-gradient(135deg, rgba(255,179,0,1) 0%, rgba(255,214,64,1) 22%, rgba(255,214,64,1) 80%, rgba(255,252,152,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb300', endColorstr='#fffc98', GradientType=1 );
  }
}



