<div *ngIf="shouldDisplaySplash" id="splash-screen">

  <h4><i class="material-icons">sentiment_very_satisfied</i> Happy App</h4>

  <div *ngIf="!showErrorMessage" >
    <h2>Loading</h2>
    <loader [mode]="spinnerMode" [value]="spinnerProgress"></loader>
    <span class="status-message">{{statusMessage}}</span>
  </div>

  <div *ngIf="showErrorMessage" class="no-data-message error-occurred">
    <h3 class="error-title">An Error may have Occurred Rendering the App</h3>
    <p class="error-subtext">This has been logged, and will be looked into</p>
    <button md-raised-button color="accent" (click)="hideSplash()">Proceed Anyway</button>
  </div>

</div>
