
# IDE and local config files
.idea
typings

# Libraries and modules
node_modules
client/dev/bower_components

# Test results files
coverage
unit_coverage

# Compiled source
client/dev/**/*.css
!client/dev/basic.css
client/dev/**/*.js
client/dev/**/*.map
!client/dev/config.js
client/dist/**/*

# Logs
**.log

# Generated package version files
yarn.lock
package-lock.json

# Environmental Variables
.env

