
# IDE and local config files
.idea
typings

# Libraries and modules
node_modules
client/dev/bower_components

# Test results files
coverage
unit_coverage

# Compiled source
client/dev/**/*.css
client/dev/**/*.js
!client/dev/config.js

