
@import "../../styles/constants.scss";

.day-breakdown-chart{

  #bar-chart{
    width: 100%;

    /deep/ text{ fill: $med-grey; font-size: $font-normal; }
    /deep/ path{ stroke: $med-grey; }
  }

}
