.submit-response-container{


  /* Set dimensions */
  min-width: 30em;
  margin: 2em 4em;
  @media only screen and (max-width: 768px) { // We have a smaller version for mobile devices
    min-width: 12em;
    margin: 2em 1em;
  }
}
