<mat-card class="chart-card team-chart">
  <div class="pull-right">
    <button mat-button class="mat-icon-button" (click)="updateChart()">
      <mat-icon  class="material-icons">autorenew</mat-icon>
    </button>
    <button mat-button class="mat-icon-button">
      <mat-icon  class="material-icons">open_in_new</mat-icon>
    </button>
    <button mat-button class="mat-icon-button">
      <mat-icon  class="material-icons">code</mat-icon>
    </button>
  </div>
  <mat-card-header>
    <mat-card-title><h3>Time Chart</h3></mat-card-title>
    <mat-card-subtitle>Team Happiness over Time</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <loader *ngIf="loading" class="loading-spinner"></loader>
    <div id="time-chart" (window:resize)="onWindowResize($event)">
      <div *ngIf="!chartVisible && !loading" class="no-data-message">
        <h3>Not enough data to display results</h3>
        <p>The line chart will appear here when there is more data in the system</p>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <mat-radio-group class="pull-right" [(ngModel)]="typeOfChart">
      <mat-radio-button value="breakdown" (click)="changeChartType('breakdown')">Breakdown</mat-radio-button>
      <mat-radio-button value="aggregate" (click)="changeChartType('aggregate')">Aggregate</mat-radio-button>
    </mat-radio-group>
  </mat-card-actions>

</mat-card>
