<md-card class="chart-card team-chart">
  <div class="pull-right">
    <button md-button class="mat-icon-button" (click)="updateChart()"><md-icon>autorenew</md-icon></button>
    <button md-button class="mat-icon-button"><md-icon>open_in_new</md-icon></button>
    <button md-button class="mat-icon-button"><md-icon>code</md-icon></button>
  </div>
  <md-card-header>
    <md-card-title><h3>Time Chart</h3></md-card-title>
    <md-card-subtitle>Team Happiness over Time</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <loader *ngIf="loading" class="loading-spinner"></loader>
    <div id="time-chart" (window:resize)="onWindowResize($event)">
      <div *ngIf="!chartVisible && !loading" class="no-data-message">
        <h3>Not enough data to display results</h3>
        <p>The line chart will appear here when there is more data in the system</p>
      </div>
    </div>
  </md-card-content>
  <md-card-actions>
    <md-radio-group class="pull-right" [(ngModel)]="typeOfChart">
      <md-radio-button value="breakdown" (click)="changeChartType('breakdown')">Breakdown</md-radio-button>
      <md-radio-button value="aggregate" (click)="changeChartType('aggregate')">Aggregate</md-radio-button>
    </md-radio-group>
  </md-card-actions>

</md-card>
