
@import "../constants.scss";

.day-breakdown-chart{
  margin: 0.5em 0;

  #bar-chart{
    width: 100%;
    height: 200px;
  }

  .no-data-message{
    background: $super-light-grey;
    padding: 1em 0.5em;
    border-radius: 3px;
    h3, p{ text-align: center; color: $med-grey; }
    h3{ font-size: $font-medium; }
    p{  }
  }
}
