
/* Default Website Font*/
$font: 'Raleway', sans-serif;

/* Website Cover Colors */
$col-cover-primary: #4dc54e;
$col-cover-secondry:  #ffd740;
$col-cover-pale: #E8E8E8;
$col-cover-dark: #272727;


/* Vonoroi Chart Colors */
$col-lines:  #E8E8E8;
$col-initial-primary-fill:  #ffd740;
$col-selected-polygon: #4dc54e;
$col-selected-site-fill:  #E8E8E8;
$col-selected-site-stroke:  #E8E8E8;
$col-sites-fill: #ffd740;
$col-sites-line:  #E8E8E8; 