<div class="home-container">
  <navbar [teams]="teams">
    <div project-name>{{title}}</div>
    <div team-name>{{teamName}}</div>
  </navbar>

  <div class="main-content row">

      <div class="col col-xs-12 col-sm-3 col-md-3">

        <md-card *ngFor="let team of homepageChartData" class="team-home-link" [title]="team.breakdown" (mouseover)="applyTooltip($event)">
            <span class="average-sentiment" [style.color]="team.color">{{team.average}}%</span>
            <h4 class="team-name">{{team.teamName}}</h4>
            <span class="response-rate">80% Response Rate</span>
        </md-card>

        <md-card *ngIf="homepageChartData.length < 1">
          <div class="no-data-message">
            <h3>No Teams Found</h3>
            <p>No teams have been configured yet, or there was an error fetching them</p>
          </div>
        </md-card>

      </div>

      <div class="col col-xs-12 col-sm-6 col-md-5">

        <grid-chart></grid-chart>

      </div>

      <div class="col col-xs-12 col-sm-3 col-md-4 overflow-hidden">

        <day-breakdown-chart></day-breakdown-chart>

      </div>

  </div>

</div>
