
@import "../../styles/constants.scss";

/* header surrounds whole top-bar */
header{
  background: $primary-color;
  margin: 0;

  /* Surrounds both the h1 and h2 in top-left */
  .title-container{

    padding: 0.5em 1em;
    cursor: default;

    h1, h2, mat-icon{
      font-weight: 100;
      margin: 0;
      display: inline-block;
      color: $black;
    }

    h2{
      font-size: 1em;
      margin-top: 0.2em;
      opacity: 0.6;
    }
  }

  .team-tabs{
    @include tablet-landscape-and-below{ display: none; }

    float: right;
    padding: 0;

    .mat-tab-link {
      line-height: 3em;
      height: 3em;
      padding: 0 0.5em;
      font-size: 1em;
      font-family: Roboto,"Helvetica Neue",sans-serif;
      font-weight: 500;
      cursor: pointer;
      box-sizing: border-box;
      opacity: .6;
      min-width: 8em;
      text-align: center;
      display: inline-block;
      vertical-align: top;
      text-decoration: none;
      position: relative;
      overflow: hidden;
    }

  }

  .team-drop-down{
    button{
      float: right;
      width: auto;
      padding: 0.25em;
    }


    /deep/ .highlighted-button{ background: $light-grey;}
    /deep/ .team-dropdown-button{
      background: $primary-light !important;
    }

  }
  }

.show-only-on-mobile{
  @include desktop-and-up{ display: none; }
}

.site-navigation-text{
  @include mobile-landscape-and-below{ display: none; }
}

/* Where a tag is used instead of button on the drop-down */
a.link-button{
  font-weight: normal;
  &:hover{ color: $black; }
}


.isActivatedTab{
  font-weight: 600;
  color: #000;
  background: darken($primary-color, 20%);
}


nav{
  border: none;
  text-align: right;

  a:hover{
    color: $black;
    background: darken($primary-color, 20%);
  }
}

button mat-icon{
  color: $black;
  vertical-align: middle;
  margin-right: 0.4em;
  opacity: 0.9;
}


/deep/ snack-bar-container.feature-still-under-dev-toast {
  background: $dark-grey;
  color: $super-light-grey;
  button{ color: $primary-color; }
}
