@import "../../styles/constants";

.main-content {
  margin: 1em;
  div{ margin-top: 1em; } // So that cards have gaps between them, on mobile/ stacked view
}

md-list{ padding-top: 0; } // Remove default gap, at start of team list

.team-home-link{
  margin: 0 !important;
  padding: 0;
  cursor: pointer;

  &:last-child md-divider{ display: none; } // Hide the last divider, as not needed

  md-list-item{
    h4.team-name{
      margin: 0;
      font-weight: 100;
      font-size: $font-medium;
    }

    span.average-sentiment{
      font-size: $font-big;
      color: $light-grey;
      font-weight: bold;
      float: right;
      top:0;
      margin: 0.2em;
    }

    span.response-rate{
      font-size: $font-small;
      color: $light-grey;
    }

    &:hover{
      background: $super-light-grey;
      span.average-sentiment {
        color: $med-grey !important;
      }
    }
  }

}
