
@import "constants.scss";

/* Set default visibility for the Angular and non-Angyular splash screens */
.initial-splash-screen{
  z-index: -1;
  opacity: 0;
}

#splash-screen{
  z-index: 10;
  opacity: 1;
}

/* The shared basic styles for both splash screens */
#splash-screen, .initial-splash-screen {
  transition: opacity .8s ease-in-out;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: $white;

  loader, .fake-loader{ // Loading spinner
    width: 100px;
    min-height: 100px;
    margin: 5em auto;
    display: block;
  }

  h4{ // Happy-App sub-title
    text-align: center;
    color: $primary-dark;
    margin-top: 10%;
  }

  h2{ // Loading... Title
    text-align: center;
    color: $primary-dark;
    font-size: $font-giant;
  }

  span.status-message{ // Current load status
    text-align: center;
    display: block;
  }

  div.error-occurred{ // Error container
    display: block;
    text-align: center;
    button{ margin: 0 auto; }
  }

}
/* Hide non-Angular splash when Angular content exists */
app:empty + .initial-splash-screen {
  opacity: 1;
  z-index: 100;
}

/* Animated CSS Loader (for non-Angular Splash) */
.fake-loader,
.fake-loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.fake-loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 179, 0, 0.1);
  border-right: 1.1em solid rgba(255, 179, 0, 0.1);
  border-bottom: 1.1em solid rgba(255, 179, 0, 0.1);
  border-left: 1.1em solid $primary-dark;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Mobile-only splash screen */
@include tablet-portrait-and-below{

  .initial-splash-screen .fake-loader{
    background: none !important;
  }

  .fake-loader { // Mobile-only colors
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid $black;
  }

  #splash-screen, .initial-splash-screen {
    h2, h4{ color: $black; }
  }

  #splash-screen, .initial-splash-screen {
    background: rgba(255,179,0,1);
    background: -moz-linear-gradient(-45deg, rgba(255,179,0,1) 0%, rgba(255,214,64,1) 22%, rgba(255,214,64,1) 80%, rgba(255,252,152,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(255,179,0,1)), color-stop(22%, rgba(255,214,64,1)), color-stop(80%, rgba(255,214,64,1)), color-stop(100%, rgba(255,252,152,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,179,0,1) 0%, rgba(255,214,64,1) 22%, rgba(255,214,64,1) 80%, rgba(255,252,152,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,179,0,1) 0%, rgba(255,214,64,1) 22%, rgba(255,214,64,1) 80%, rgba(255,252,152,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,179,0,1) 0%, rgba(255,214,64,1) 22%, rgba(255,214,64,1) 80%, rgba(255,252,152,1) 100%);
    background: linear-gradient(135deg, rgba(255,179,0,1) 0%, rgba(255,214,64,1) 22%, rgba(255,214,64,1) 80%, rgba(255,252,152,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb300', endColorstr='#fffc98', GradientType=1 );
  }
}
