@import "../constants.scss";

#app-help-inner {
  padding: 2em;
  width: 30em;
  height: 30em;
  @include tablet-portrait-and-below {
    width: 17em;
    height: 25em;
  }
  @include desktop-and-up {
    width: 40em;
    height: 45em;
  }

  h2, p, a{
    font-weight: 200;
    color: $black;
  }

  a{
    text-decoration: underline;
  }
}
