
/deep/ #time-chart{

  .axis--x path {
    //display: none;
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

}

/deep/ .mat-radio-container{ padding: 1em 0 1em 1em; }
/deep/ .mat-radio-label-content{ padding-right: 1em !important;  }
